body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

form label {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #64778b;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #635f8b;
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}